.box {
    height: 20em;
    width: 20em;
    border: solid black 5px;
    margin: auto;
    text-align: center;
    box-shadow: inset 1px 1px;
}

#headerText {
    font-size: 2em;
    font-weight: 900;
}

#textBox {
    flex: 1;
    max-width: 50%

}

#subBut {
    flex 1;
    
}

.comBox, .comBut{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
