body {
    background: green;
}

.box {
    background: rgba(122, 122, 122, 0.5);
    height: 20em;
    width: 20em;
    border: solid black 5px;
    margin: auto;
    text-align: center;
    box-shadow: inset 1px 1px;
}

#headerText {
    font-size: 2em;
    font-weight: 900;
}

#textBox {
    flex: 1;
    max-width: 30%;
    border: solid black 2px;
    border-radius: 5px;
}

#subBut {
    flex: 1;
    border: solid black 1px;
}

.comBox,
.comBut {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
